mysql BITMAP "Resources\\mysql.bmp"
postgres BITMAP "Resources\\postgres.bmp"
sqldeveloper BITMAP "Resources\\sqldeveloper.bmp"
sqlite BITMAP "Resources\\sqlite.bmp"
delphi_ico ICON "Resources\\delphi_ico.ico"
